


.hobbies-book-column-seperator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // grid-template-rows: 33% 33%;

    // li {
    //     margin: 5px 15px;
    // }

    // .toRead {
    //     grid-column: 1 / 1;
    // }
    
    // .Read {
    //     grid-column: 2 / 2;
    // }

    // .toReadFiction {

    // }

    // .ReadFiction {

    // }
}
