@import "../../scss/variables.scss";

.personal-projects-container{
    margin: 10px 0 20px 0;

    .personal-projects-title {
        font-size: xx-large;
        font-weight: bold;
    }
}

.personal-project-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;

    .picture-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 10px;
        display: flex;
        flex: 1;
    }

    .text-container {
        flex-direction: column;
        display: flex;
        margin: 10px 10px;
        justify-content: center;
        flex: 1;
        padding: 0 25px;

        .text-title-container {
            justify-content: center;
            display: flex;
            font-size: x-large;
            font-weight: bold;
        }

        .tech-stack-container {
            flex-direction: row;
            display: flex;
            justify-content: center;
        }

        .tech-stack-wrapper {
            border: solid $accent-color 2px;
            padding: 5px;
            margin: 3px;
        }

        .description-wrapper {
            justify-content: center;
            display: flex;
            text-align: center;
        }

        .dates-wrapper {
            justify-content: center;
            display: flex;
        }

        .noteable-wrapper {
            justify-content: center;
            display: flex;
        }

        .reflection-wrapper {
            justify-content: center;
            display: flex;
        }

        .source-wrapper {
            justify-content: center;
            display: flex;
        } 

    }

}