@import "../scss/variables.scss";

.icon-link-container {
    display:flex;
    align-items: center;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
            margin-left: 5px;
        }
    }
}

.all-icon-links-container {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

.bio-and-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .image-container{
        width: 40%;
    }

    .bio-container{
        width: 40%;
    }
}

.center-get-in-touch{
    display: flex;
    justify-content: center;
    margin: 20px;
}