@import "../scss/variables.scss";

.container {
  max-width: 1400px;
  padding: 0 50px;
  margin: 0 auto;
  overflow: auto;
}

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .navbar-main-ul {
    display: flex;
    list-style-type: none;

    li {
      padding: 10px;
    }

  }

  .navbar-dropdown-ul {
    // display: flex;
    list-style-type: none;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    z-index: 99;
    background-color: $primary-color;

    li {
      padding: 10px;
    }

    a:hover {
      color: $accent-color;
    }

    &.visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &.invisible {
    }
  }

  .navbar-menu-title {
    display: flex;
    justify-content: center;
  }

  .navbar-name {
    padding: 10px 0;
    list-style-type: none;
  }
}


.button-link{  
  margin: 15px;
  a {
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    &:hover {
      color: $accent-color;
      border-color: $accent-color;
    }
  }
}